<div class="card">
  <img
    *ngIf="post.mainImage"
    class="card__cover"
    alt="Cover image"
    [src]="post.mainImage | sanityImage : 520"
  />
  <div *ngIf="!post.mainImage" class="card__cover--none"></div>

  <div class="card__container">
    <h3 class="card__title">
      <a
        [routerLink]="'/post/' + post.slug.current"
        class="card__link"
        [href]="'/post/' + post.slug.current"
      >
        {{ post.title }}
      </a>
    </h3>
    <p class="card__excerpt">{{ post.excerpt }}</p>
    <p class="card__date"></p>
  </div>
</div>
